.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
src/**
out/test/**
src/mlsql-lang-darwin-amd64.tar.gz
src/mlsql-lang-linux-amd64.tar.gz
src/mlsql-lang-windows-amd64.tar.gz
dev.sh
*.vsix
temp/